#one{
font-size: 25px;
line-height: 50px;
} 
/* h1 { */
  /* color: #d0e916; */
/* } */
/*
h2 {
    color: orangered;
}
p {
  color: blue;
}
button {
    color: rgb(150, 12, 12);
}

body {
    background-color: magenta;
}
*/

/*
#box {
  background-color: aquamarine;
}

h1, h2, h3  {
  color: lime;
}

button {
  color: rgb(197, 226, 188);
}

#one 